@{
    // todo: выполняется позже, чем текст в layout, передалать
    ViewBag.Title = "Home page";
}

<!-- ko with: home -->
<div class="jumbotron">
    <h1> - All Logics in one pack</h1>
    <p class="lead">Welcome, my friend! Our site can offer you a wide range of logic services. Get enjoy!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mathematic services</h2>
        <p>Please, try our mathematic services. Here you can find solution of various mathematical problems.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Try math services &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Algorythms</h2>
        <p>
            Here you can find implementation of wage range of famous algorythms with different programmic languages.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>About</h2>
        <p>This page will tell you about our project in more detail.</p>
        <p>Join our community and get information about fresh implementations of algorythms!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
